# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
env/
venv/

# Pipenv
Pipfile.lock

# Poetry
poetry.lock

# dotenv
.env

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db

# Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Docker-related
*.pid
docker-compose.override.yml

# Test coverage
.coverage
htmlcov/
.pytest_cache/

# FastAPI specific
instance/
